
html { 
	background: url(background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#navBar{
	top:25%;
	height: 80px;
	width:100%;
	z-index: 1; 
	}
	
	#navBar1{
	position: absolute;
	left: 25%;
	z-index: 1; 


	}
	#navBar2{
	position: absolute;
	left: 37%;
	z-index: 1; 


	}
	#navBar3{
	position: absolute;
	left: 49%;
	z-index: 1; 
	

	}
	#navBar4{
	position: absolute;
	left: 61%;
	z-index: 1; 

	}
	
#slideshow{
	
	position:absolute;
	left: 35%;
	top: 30%;
	z-index: 2;
	
	
}
	


#map{
	
	position: absolute;
	top: 63%;
	left: 26%;
	border-style: solid;
    border-width: 1px;
	
	
}

#content{
	
	position: absolute;
	top: 63%;
	left: 42%;
	border-style: solid;
    border-width: 1px;
	background-color: white;
}